body {
    margin-left: 16%;
    margin-top: 10px;
    background-color: #ecf0f1;
}

.player {
    position: absolute;
    z-index: 10;
    top: 118px;
    left: 260px;
}

.cols {
    position: absolute;
}

#col2 {
    margin-left: 100px;
}

#col3 {
    margin-left: 200px;
}

#col4 {
    margin-left: 300px;
}

#col5 {
    margin-left: 400px;
}

#col6 {
    margin-left: 500px;
}

#col7 {
    margin-left: 600px;
}

#col8 {
    margin-left: 700px;
}

#col9 {
    margin-left: 800px;
}

#col10 {
    margin-left: 900px;
}

.cases {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #34495e;
}